.cards_random {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 60vw;
  height: 75vh;
  margin-left: 30vw;
  position: absolute;
  flex: 1;
  @media (max-width: 800px){
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
}
.card_random{
  margin: 0.3rem;
  padding: 0.3rem;
  height: 301px;
  width: 614px;
  position: relative;
}
.quote_random {
  margin: 1px;
  text-align: left;
  width: 80%;
  padding: 0;
  flex: 1;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  @media (max-width: 800px){
    font-size: 20px;
    line-height: 25px;
    padding-top: 4rem;
  width: 60%;


  }
}
.author_random{
  margin: 0;
  padding: 0;
  margin-top: 0.1rem;
  text-align: left;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  margin-left: 50%;
  @media (max-width: 800px){
    margin-left: 30%;
    font-size: 16px;
  }
}
.next_random{
    display:flex;
    justify-content: right;
    align-content: right;
    margin-left: 75vw;
    background-color: transparent;
    font-family: 'Raleway';
    font-weight:400;
    border-color: transparent;
    font-size: 1.5rem;
    transition: all 0.5s;
    &:hover{
     color: #f7df94;

    }
    @media (max-width: 800px){
      font-size: 0.9rem;
      margin-left: 75vw;
      
    }

}
.line_random{
  background-color: #f7df94;
  height: 300px;
  width: 8px;
  right: 0;
  left: 21vw;
  top: 180px;
  border-radius: 0px;
  position: absolute;


}

//   font-size: 36px;
//   font-weight: 500;
//   line-height: 43px;
//   letter-spacing: 0em;
//   text-align: left;
